<div class="row bg-dark text-white footer-container">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="fw-bold fs-5 mt-5">PRODUCTO</p>
                </div>
                <div class="col">
                    <p class="fw-bold fs-5 mt-5">COMPAÑÍA</p>
                </div>
                <div class="col">
                    <p class="fw-bold fs-5 mt-5">CENTRO DE AYUDA</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Nuestro producto esta destinado al ámbito empresarial, concretamente en la
                        digitalizacíon de su negocio a traves de un portal web.</p>
                </div>
                <div class="col">
                    <p>La compañia Lora Gómez es una empresa que supervisa la satisfacción de nuestros
                        clientes y la calidad de nuestros productos directamente con nuestro departamento ejecutivo.</p>
                </div>
                <div class="col">
                    <p>Contáctenos en todo momento via e-mail, por teléfono o con cita previa y
                        resolveremos cualquier tipo de duda si no eres cliente o incidencia en el caso de que tengas un
                        producto con nosotros.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="fw-bold fs-5 mt-5">CONTACTO</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="icon-size" [src]="phoneIcon" alt="Icono de telefono"> <span class="ms-2">+34 659 366 732</span>
                    <br> <img class="icon-size" [src]="emailIcon" alt="Icono de e-mail"><span class="ms-2">lgraul87@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</div>