.background-cima {
  background-image: url("./../../../assets/cima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1200px;

}

.body-container {
  height: 3600px;
}
