.background-cima {
  background-image: url("./../../../assets/cima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1200px;
}

.body-container {
  height: 2500px;
}

.first-container {
  display: none;
}

.middle-container {
  position: relative;
  height: 350px;
  width: 750px;
  background-color: white;
  bottom: 160px;
}
.middle-container-title {
  font-size: 50px;
  color: #012e46;
}

.middle-container-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 80px;
  font-size: 30px;
}

.marine-text-color {
  color: #012e46;
}

.first-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 80px;
  font-size: 30px;
}
.second-container {
  height: 1300px;
  background-color: #d5eefc;
  margin-top: 1rem;
}

.second-container-box {
  width: 800px;
  height: 100%;
  margin-top: 17rem;
}

.h4 {
  font-size: 40px;
}

.h1 {
  font-size: 50px;
  margin-top: -2rem;
}

.text-home {
  font-size: 35px;
}
