.background-cima {
  background-image: url("./../../../assets/cima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1200px;
}

.body-container {
  height: 2600px;
}

.first-container {
  display: block;
  margin-top: 6rem;
  height: 400px;
}

.middle-container {
  position: relative;
  height: 250px;
  width: 750px;
  background-color: white;
  bottom: 250px;
}

.middle-container-title {
  font-size: 50px;
  color: #012e46;
}

.middle-container-button {
  background-color: #012e46;
  padding: 15px;
  font-size: 20px;
  width: 240px;
  height: 60px;
}

.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.h1 {
  font-size: calc(2em + 0.3vw);
  margin-top: 5rem;
}

.first-button {
  background-color: #012e46;
  padding: 10px;
  font-size: 16px;
  width: 240px;
  height: 60px;
}
