<div class="row bg-white body-container">
    <div class="col p-0">
        <div class="background-cima"></div>
        <div class="d-flex justify-content-center position-absolute w-100">
            <div class="middle-container">
                <div class="container w-75 mt-4">
                    <div class="row mt-5">
                        <div class="col text-center">
                            <h4 class="h4">Desarrollando tu negocio</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center mt-3">
                            <h1 class="middle-container-title">SOLICITA TU PÁGINA</h1>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-center">
                            <button class="btn btn-primary middle-container-button">Reserva una consulta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container first-container">
            <div class="row h-100">

                <div class="col-4 border border-secondary border-end-0 text-center">
                    <div class="container h-100">
                        <div class="me-4 ms-4 h-100">
                            <div class="row h-25">
                                <div class="col d-flex align-items-end justify-content-center">
                                    <p class="marine-text-color fs-2">ASESORAMIENTO</p>
                                </div>
                            </div>

                            <div class="row h-50">
                                <div class="col d-flex aligns-items-center">
                                    <p>Te asesoramos antes, durante y a largo plazo sobre cuales son tus
                                        principales intereses informativos de tu página
                                        <br>
                                        <br>
                                        Puedes consultarnos a traves de nuestro teléfono, via e-mail o con cita previa.
                                    </p>
                                </div>
                            </div>

                            <div class="row h-25">
                                <div class="col">
                                    <button class="btn btn-primary first-button">Más información</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-4 border border-secondary text-center">
                    <div class="container h-100">
                        <div class="me-4 ms-4 h-100">
                            <div class="row h-25">
                                <div class="col d-flex align-items-end justify-content-center">
                                    <p class="marine-text-color fs-2">INCREMENTO</p>
                                </div>
                            </div>

                            <div class="row h-50">
                                <div class="col d-flex aligns-items-center">
                                    <p>Tu proyecto o página puede estar en constante crecimiento con nosotros, gracias a
                                        la escalabilidad que ofrecemos.
                                        <br>
                                        <br>
                                        Tú decides cuales son tus límites.
                                    </p>
                                </div>
                            </div>

                            <div class="row h-25">
                                <div class="col">
                                    <button class="btn btn-primary first-button">Más información</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-4 border border-secondary border-start-0 text-center">
                    <div class="container h-100">
                        <div class="me-4 ms-4 h-100">
                            <div class="row h-25">
                                <div class="col d-flex align-items-end justify-content-center">
                                    <p class="marine-text-color fs-2">SOPORTE</p>
                                </div>
                            </div>

                            <div class="row h-50">
                                <div class="col d-flex aligns-items-center">
                                    <p>Siempre estarás protegido, porque nosotros realizamos los desarrollos desde cero
                                        ofreciendote la mejor cobertura.
                                        <br>
                                        <br>
                                        Te garantizamos el correcto funcionamiento sobre lo contratado.
                                    </p>
                                </div>
                            </div>

                            <div class="row h-25">
                                <div class="col">
                                    <button class="btn btn-primary first-button">Más información</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="second-container">
            <div class="container h-100 d-flex justify-content-center">
                <div class="second-container-box text-center">
                    <div class="row h-25">
                        <div class="col d-flex align-items-end justify-content-center">
                            <p class="marine-text-color h1">SOBRE NOSOTROS</p>
                        </div>
                    </div>

                    <div class="row h-50">
                        <div class="col d-flex aligns-items-center justify-content-center text-home mt-5">
                            Nos dedicamos al software, nos dedicamos a ti.
                            <br><br>
                            Queremos darte lo que quieres y lo que necesitas. Para ello contamos con la experiencia de
                            los mejores profesionales, con la máxima dedicación y compromiso, con el fin de que termines
                            con una página web que impulse tus ventas y llegues a lo mas alto.
                            <br><br>
                            Siempre tendras la voz, nos enfocamos en ti
                        </div>
                    </div>

                    <div class="row h-25">
                        <div class="col d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary first-button mt-3">¿Hablamos?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>