.desktop-image {
    width: 100%;
    height: auto;
}

.desktop-container-text {
    height: 400px;
}

.text-size {
  font-size: var(--desktop-font-m);
}

.title {
  font-size: var(--desktop-font-xl);
    font-weight: bold;
}
