.mobile-image{
    width: 100%;
    height: auto;
}

.mobile-container-text{
    position: absolute;
    width: 60%;
    display: flex;
    color: white;
    font-size: var(--mobile-font-m);
    font-weight: 400;
    margin-top: 230px;
    background-color: #012e46;
    border-radius: 7px;
    justify-content: center;
}
