.second-container {
    height: 500px;
    background-color: #d5eefc;
    margin-top: 6rem;
    margin-bottom: 11rem;
}

.second-container-box {
    width: 800px;
    height: 100%;
    margin-top: 0;
}

.marine-text-color {
    color: #012e46;
}

.text-home {
  font-size: var(--desktop-font-m);
}

.first-button {
    background-color: #012e46;
    padding: 10px;
    font-size: var(--desktop-font-s);
    width: 240px;
    height: 60px;
    width: auto;
}

.h1 {
    font-size: calc(2em + 0.3vw);
    margin-top: 5rem;
  }

