<div class="second-container">
    <div class="container h-100 d-flex justify-content-center">
        <div class="second-container-box text-center">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    <p class="marine-text-color h1">{{title}}</p>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col d-flex aligns-items-center justify-content-center text-home">
                    <p class="mt-3">
                        {{firstDescription}}
                        <br><br>{{secondDescription}}
                        <br> <br>{{thirdDescription}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary first-button" (click)="navigateToContacto()">{{textButton}}</button>
                </div>
            </div>
        </div>
    </div>
</div>