.second-container {
  height: 1300px;
  background-color: #d5eefc;
  margin-top: 1rem;
}

.second-container-box {
  width: 800px;
  height: 100%;
  margin-top: 17rem;
}

.marine-text-color {
  color: #012e46;
}

.text-home {
  font-size: var(--mobile-font-s);
}

.first-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 80px;
  font-size: var(--mobile-font-s);
  width: auto;
}

.h1 {
  font-size: var(--mobile-font-xl);
  margin-top: 3rem;
}
