.text-size {
  font-size: var(--mobile-font-m);
}

.desktop-section {
  display: none;
}

.mobile-section {
  display: block;
}

.title {
  font-size: var(--mobile-font-xl);
  font-weight: bold;
}

.first-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 80px;
  font-size: var(--mobile-font-s);
  width: auto;
}
