<app-mobile-body-header class="mobile-section" [title]="'Soporte y mantenimiento'"
  [image]="'assets/soporte-mobile.jpg'">
</app-mobile-body-header>

<app-desktop-body-header class="desktop-section" [image]="'assets/soporte.jpg'" [title]="'Soporte y mantenimiento:'"
  [firstDescription]="'Ofrecemos soporte y mantenimiento de todos tus productos contratados con nosotros.'"
  [secondDescription]="'Hablemos sobre el tipo de soporte que vas a necesitar y te ofreceremos todas las coberturas.'"
  [thirdDescription]="'No tendrás que preocuparte de nada.'">
</app-desktop-body-header>

<div class="container container-700 mt-5 mb-5 mobile-section">
  <div class="row">
    <div class="col">
      <p class="title">Soporte y mantenimiento:

      <p class="text-size">Ofrecemos soporte y mantenimiento de todos tus productos contratados con nosotros.
        <br> <br>
        Hablemos sobre el tipo de soporte que vas a necesitar y te ofreceremos todas las coberturas.
        <br> <br>
        No tendrás que preocuparte de nada.
        <br> <br>
      </p>
    </div>

  </div>
</div>

<div class="container container-700 mt-5 mb-5">
  <div class="row">
    <div class="col text-size">
      <P class="title">Posicionamiento:</P>
      <ul>
        <li>Posicionamiento top 1.</li>
        <li>Estrategia de claves para búsquedas.</li>
        <li>Posibilidad de incremento escalable Seo.</li>
        <li>Todas las estrategias Seo.</li>
        <li>Mantenimiento</li>
      </ul>
    </div>
  </div>
</div>

<app-tape [title]="tape.soporteYMantenimiento.title" [firstDescription]="tape.soporteYMantenimiento.firstDescription"
  [secondDescription]="tape.soporteYMantenimiento.secondDescription"
  [thirdDescription]="tape.soporteYMantenimiento.thirdDescription" [textButton]="tape.soporteYMantenimiento.textButton">
</app-tape>
