<app-mobile-body-header class="mobile-section" [title]="'Soporte y mantenimiento'"
  [image]="'assets/soporte-mobile.jpg'">
</app-mobile-body-header>

<app-desktop-body-header class="desktop-section" [image]="'assets/soporte.jpg'" [title]="'Soporte y mantenimiento:'"
  [firstDescription]="'Si necesitas soporte y mantenimiento de tus productos con nosotros, nosotros nos encargamos.'"
  [secondDescription]="'Hablemos sobre que tipo de soporte vas a necesitar y te damos todas las coberturas.'"
  [thirdDescription]="'No tendrás que preocuparte de nada.'">
</app-desktop-body-header>

<div class="container container-700 mt-5 mb-5 mobile-section">
  <div class="row">
    <div class="col">
      <p class="title">Soporte y mantenimiento:

      <p class="text-size">Si necesitas soporte y mantenimiento de tus productos con nosotros, nosotros nos encargamos.
        <br> <br>
        Hablemos sobre que tipo de soporte vas a necesitar y te damos todas las coberturas.
        <br> <br>
        No tendrás que preocuparte de nada.
        <br> <br>
      </p>
    </div>

  </div>
</div>

<div class="container container-700 mt-5 mb-5">
  <div class="row">
    <div class="col text-size">
      <P class="title">Posicionamiento:</P>
      <ul>
        <li>Posicionamiento top 1.</li>
        <li>Estrategia de claves para búsquedas.</li>
        <li>Posibilidad de incremento escalable Seo.</li>
        <li>Todas las estategias Seo.</li>
        <li>Mantenimiento</li>
      </ul>

    </div>

  </div>
</div>

<app-tape [title]="tape.seoPosicionamosTuWeb.title" [firstDescription]="tape.seoPosicionamosTuWeb.firstDescription"
  [secondDescription]="tape.seoPosicionamosTuWeb.secondDescription"
  [thirdDescription]="tape.seoPosicionamosTuWeb.thirdDescription" [textButton]="tape.seoPosicionamosTuWeb.textButton">
</app-tape>
