<div class="row  marine-color menu">

    <div class="col h-100 d-flex justify-content-end align-items-center menu-selector">

        <a class="me-4 mb-0 text-decoration-none fw-bold hover-white" [ngClass]="homeIsActive  ? 'active' : 'in-active'"
            (click)="setMenuLinksStyleSelected($event)" id="">Home</a>

        <a class="mb-0 text-decoration-none fw-bold hover-white"
            [ngClass]="quienesSomosIsActive  ? 'active' : 'in-active'" (click)="setMenuLinksStyleSelected($event)"
            id="quienes-somos">Quiénes somos</a>

        <a class=" d-flex align-items-center ms-4 mb-0 text-decoration-none fw-bold hover-white que-hacemos-selector"
            [ngClass]="queHacemosIsActive  ? 'active' : 'in-active'" (click)="setMenuLinksStyleSelected($event)"
            id="que-hacemos">
            Qué Hacemos ...
        </a>
        <div class="que-hacemos-drop">
            <div class="container-fluid">
                <div class="row">
                    <div class="col mt-3">
                        <a class="mb-0 text-decoration-none fw-bold hover-white"
                        [ngClass]="tuPaginaWebIsActive  ? 'active' : 'in-active'"
                            (click)="setMenuLinksStyleSelected($event)" id="tu-pagina-web-a-medida">
                            <p class="ms-4 mt-5">Tu página web a medida</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <a class="mb-0 text-decoration-none fw-bold hover-white"
                        [ngClass]="seoPosicionamosTuWebIsActive  ? 'active' : 'in-active'"
                            (click)="setMenuLinksStyleSelected($event)" id="seo-posicionamos-tu-web">
                            <p class="ms-4">SEO, posicionamos tu web</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <a class="mb-0 text-decoration-none fw-bold hover-white"
                        [ngClass]="dominioPersonalizadoIsActive  ? 'active' : 'in-active'"
                            (click)="setMenuLinksStyleSelected($event)" id="dominio-personalizado">
                            <p class="ms-4">Dominio personalizado</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <a class="mb-0 text-decoration-none fw-bold hover-white"
                        [ngClass]="evolutivosDeTuWebIsActive  ? 'active' : 'in-active'"
                            (click)="setMenuLinksStyleSelected($event)" id="evolutivos-de-tu-web">
                            <p class="ms-4">Evolutivos de tu web</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <a class="mb-0 text-decoration-none fw-bold hover-white"
                        [ngClass]="soporteYMantenimientoIsActive  ? 'active' : 'in-active'"
                            (click)="setMenuLinksStyleSelected($event)" id="soporte-y-mantenimiento">
                            <p class="ms-4">Soporte y mantenimiento</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="ms-4 mb-0 text-decoration-none fw-bold hover-white"
        [ngClass]="portafolioIsActive  ? 'active' : 'in-active'"
        (click)="setMenuLinksStyleSelected($event)"
            id="portafolio">Portafolio</a>
        <a class="ms-4 mb-0 text-decoration-none fw-bold hover-white"
        [ngClass]="blogIsActive  ? 'active' : 'in-active'"
        (click)="setMenuLinksStyleSelected($event)"
            id="blog">Blog</a>
        <a class="ms-4 me-3 mb-0 text-decoration-none fw-bold hover-white"
        [ngClass]="contactoIsActive  ? 'active' : 'in-active'"
        (click)="setMenuLinksStyleSelected($event)"
            id="contacto">Contacto</a>
    </div>

</div>
