<div class="row">
    <div class="col mobile-footer-container bg-dark text-white text-home mt-5 ">
        <div class="row">
            <div class="col mt-5">
                <p class="ms-5 mt-3 fw-bold">PRODUCTO</p>
            </div>
            <div class="col mt-5">
                <p class="mt-3 fw-bold">COMPAÑÍA</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="ms-5 mt-3">Nuestro producto esta destinado al ámbito empresarial, concretamente en la
                    digitalizacíon de su negocio a través de un portal web.</p>
            </div>
            <div class="col">
                <p class="mt-3"> La compañía Lora Gómez es una empresa que supervisa la satisfacción de nuestros
                    clientes y la calidad de nuestros productos directamente con nuestro departamento ejecutivo. </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="ms-5 mt-5 fw-bold">CENTRO DE AYUDA</p>
            </div>
            <div class="col">
                <p class="mt-5 fw-bold">CONTACTO</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="ms-5 mt-3">Contáctenos en todo momento via e-mail, por teléfono o con cita previa y
                  resolveremos cualquier tipo de duda o incidencia, en el caso de tengas productos con nosotros.</p>
            </div>
            <div class="col mt-3">
                <img class="icon-size" [src]="phoneIcon" alt="Icono de telefono"> <span class="ms-2">+34 659 366 732</span>
                <br> <img class="icon-size" [src]="emailIcon" alt="Icono de e-mail"><span class="ms-2">lgraul87@gmail.com</span>
            </div>
        </div>
    </div>

</div>
