<ion-menu contentId="main-content" class="width-80-v">
  <ion-header>
    <ion-toolbar class="colore">
      <div class="menu-icon"></div>

    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="mt-150px">
      <dl>
        <dt class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="home"></ion-icon>
            <a class="ms-5" routerLink="">Home</a>
          </div>
        </dt>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="help"></ion-icon>
            <a class="ms-5" routerLink="quienes-somos">Quiénes somos</a>
          </div>

        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="color-wand"></ion-icon>
            <a class="ms-5" routerLink="tu-pagina-web-a-medida">Tu página web a medida</a>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="trending-up"></ion-icon>
            <a class="ms-5" routerLink="seo-posicionamos-tu-web">SEO, posicionamos tu web</a>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="create"></ion-icon>
            <a class="ms-5" routerLink="dominio-personalizado">Dominio personalizado</a>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="add"></ion-icon>
            <a class="ms-5" routerLink="evolutivos-de-tu-web">Evolutivos de tu web</a>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="information"></ion-icon>
            <span class="ms-5" routerLink="soporte-y-mantenimiento">Soporte y mantenimiento</span>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="clipboard"></ion-icon>
            <span class="ms-5" routerLink="portafolio">Portafolio</span>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="wallet"></ion-icon>
            <span class="ms-5" routerLink="blog">Blog</span>
          </div>
        </dd>

        <dd class="menu-font-size fw-bold mt-5 ms-5">
          <div class="d-flex align-items-center span-color">
            <ion-icon name="wallet"></ion-icon>
            <span class="ms-5" routerLink="contacto">Contacto</span>
          </div>
        </dd>

      </dl>
    </div>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <app-header></app-header>
    <img class="ms-3 me-3 mt-3 mb-3 menu-icon ion-toolbar" [src]="menu" alt="Menu icon" (click)="openMenu()">

    <app-menu></app-menu>
    <app-body-quienes-somos></app-body-quienes-somos>
    <app-footer></app-footer>
    <app-mobile-footer></app-mobile-footer>
  </ion-content>
