.header-container {
  height: 200px;
}

.logo {
  width: 180px;
}

.marine-color {
  background-color: #012e46;
}

.hover-white {
  color: white;
}

.hover-white:hover {
  color: #0d6efd;
}

.mobile-text-secondary {
  display: block;
  font-size: 46px;
  margin-left: calc(2.7em + 0.9vw);
}

.desktop-text-secondary {
  display: none;
  
}

.header-button-container {
  display: none;
}
