

<div class="row header-container">

    <div class="col-2 d-flex align-items-center">
        <img class="logo" [src]="logo" alt="Logo de la empresa de desarrollo web a medida">
    </div>

    <div class="col d-flex align-items-center">
        <h1 class="text-secondary desktop-text-secondary">Crea tu página web con Raúl Lora</h1>
        <h1 class="text-secondary mobile-text-secondary">Creamos tu web</h1>
    </div>

    <div class="col-3 header-button-container">
        <div class="">
            <!-- <button class="btn btn-primary marine-color me-2">Crear cuenta</button>
            <button class="btn">Entrar</button> -->
        </div>
    </div>

</div>
