.first-title {
  font-size: var(--mobile-font-m);
  color: #012e46;
  margin-bottom: 3rem;
}

.first-description {
  font-size: var(--mobile-font-m);
}

li {
  font-size: var(--mobile-font-m);
}

.screen-behavior {
  display: none;
}

.container-900 {
  height: 900px;
}

.container-700 {
  height: 700px;
}

.title{
  font-size: var(--mobile-font-xl);
  font-weight: bold;
}

li{
  margin-top: 20px;
}
