.first-size-text {
  font-size: 60px;
}

.first-background {
  background-image: url("./../../../assets/tecnology-person.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
}

.marine-background {
  background-color: #012e46;
  opacity: 0.7;
}

.first-title {
  font-size: 44px;
  color: #012e46;
}

.first-description {
  font-size: 24px;
}

.screen-behavior {
  display: block;
}

.container-900 {
  height: auto;
}

.container-400 {
  height: auto;
}