<div class="row screen-behavior">
  <div class="col d-flex justify-content-center align-items-center text-white first-background">
    <div class="rounded ps-4 pe-4 mt-5 marine-background">
      <p class="first-size-text">We are LG, wings for your dreams</p>
    </div>
  </div>
</div>

<div class="container container-700 mt-5 mb-5">
  <div class="row">
    <div class="col">
      <p class="first-title title"> <b>En LG, somos más que una empresa tecnológica.</b> </p>
      <p class="first-description title">Somos tu aliado que nunca te falla.</p>
    </div>
  </div>
</div>

<app-light-title [lightTitle]="lightTitle.tuPaginaWebAMedida.title"></app-light-title>

<div class="container container-900 mt-5 mb-5">
  <div class="row">
    <div class="col">
      <p class="first-description">Nuestros Servicios:</p>
      <ul class="first-description">
        <li>Web para tu negocio.</li>
        <li>Difusion a través de los buscadores de google (SEO).</li>
        <li>Persistencia de datos de tu web.</li>
        <li>Diseño responsive de tu web.</li>
        <li>Cuentanos tu funcionalidad web, ¡y nosotros lo hacemos!</li>
        <li>Escala tu web, ¡Tú pones tus limites!.</li>
        <li>Posicionamos tu web a la numero 1.</li>
        <li>Elige tus criterios de busqueda google para tu web.</li>
      </ul>
    </div>
  </div>
</div>

<app-tape [title]="tape.tuPaginaWebAMedida.title" [firstDescription]="tape.tuPaginaWebAMedida.firstDescription"
  [secondDescription]="tape.tuPaginaWebAMedida.secondDescription"
  [thirdDescription]="tape.tuPaginaWebAMedida.thirdDescription"
  [textButton]="tape.tuPaginaWebAMedida.textButton"></app-tape>
