.first-size-text {
  font-size: var(--desktop-font-xl);
}

.mobile-section {
  display: none;
}

.desktop-section {
  display: block;
}

// .first-background {
//   background-image: url("./../../../assets/tecnology-person.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   height: 800px;
// }

.marine-background {
  background-color: #012e46;
  opacity: 0.7;
}

.first-title {
  font-size: var(--desktop-font-xl);
  color: #012e46;
}

.first-description {
  font-size: var(--desktop-font-m);
}

.screen-behavior {
  display: block;
}

.container-900 {
  height: auto;
}

.container-700 {
  height: auto;
}

.title {
  font-size: var(--desktop-font-xl);
  font-weight: bold;
}

ul>li {
  font-size: var(--desktop-font-m);
}
