.first-title {
  font-size: 44px;
  color: #012e46;
  margin-bottom: 3rem;
}

.first-description {
  font-size: 34px;
}

li {
  font-size: 34px;
}

.screen-behavior {
  display: none;
}

.container-900 {
  height: 900px;
}

.container-700 {
  height: 700px;
}

.title{
  font-size: 65px;
  font-weight: bold;
}