<app-mobile-body-header class="mobile-section" [title]="'Contacta con nosotros'" [image]="'assets/contacto.webp'">
</app-mobile-body-header>

<app-desktop-body-header class="desktop-section" [image]="'assets/contacto-mobile.jpg'"
  [title]="'Contacta con nosotros'" [firstDescription]="'Contacta con nosotros y te daremos toda la información'"
  [secondDescription]="'Hablemos sobre que tipo de web vas a necesitar y te orientamos en tu camino.'"
  [thirdDescription]="'Estamos para ti.'">
</app-desktop-body-header>

<div class="container container-700 mt-5 mb-5 mobile-section">
  <div class="row">
    <div class="col">
      <p class="title">Contacto:

      <p class="text-size">Contacta con nosotros y te daremos toda la información
        <br> <br>
        Hablemos sobre que tipo de web vas a necesitar y te orientamos en tu camino.
        <br> <br>
        Estamos para ti.
        <br> <br>
      </p>
    </div>

  </div>
</div>

<div class="container container-700 mt-5 mb-5 mobile-section">
  <div class="row">
    <div class="col text-size">
      <form [formGroup]="contactoForm" (ngSubmit)="contacto(contactoForm)">

        <P class="title">Escríbenos:</P>
        <div>
          <input class="form-control input-size mt-5" placeholder="Nombre" formControlName="name" type="text">
        </div>

        <div>
          <input class="form-control input-size mt-5" placeholder="Apellidos " formControlName="lastName" type="text">
        </div>

        <div>
          <input class="form-control input-size mt-5" placeholder="Teléfono " formControlName="phone" type="number">
        </div>

        <div>
          <input class="form-control input-size mt-5" placeholder="Email " formControlName="email" type="text">
        </div>

        <div>
          <textarea class="form-control text-size mt-5" placeholder="Descripción " formControlName="description"
            rows="4" cols="50">
          </textarea>

        </div>

        <div>
          <button [disabled]="!contactoForm.valid" type="submit"
            class="btn btn-primary w-100 submit-size">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container container-700 mt-5 mb-5 desktop-section">
  <div class="row">
    <div class="col text-size">
      <form [formGroup]="contactoForm" (ngSubmit)="contacto(contactoForm)">

        <P class="title">Escríbenos:</P>
        <div class="row">
          <div class="col">
            <input class="form-control input-size mt-5" placeholder="Nombre" formControlName="name" type="text">
          </div>

          <div class="col">
            <input class="form-control input-size mt-5" placeholder="Apellidos " formControlName="lastName" type="text">
          </div>
        </div>



        <div class="row">
          <div class="col">
            <input class="form-control input-size mt-5" placeholder="Teléfono " formControlName="phone" type="text">
          </div>
          <div class="col">
            <input class="form-control input-size mt-5" placeholder="Email " formControlName="email" type="text">
          </div>
        </div>

        <div>
          <textarea class="form-control text-size mt-5" placeholder="Descripción " formControlName="description"
            rows="4" cols="50">
          </textarea>
        </div>

        <div>
          <button [disabled]="!contactoForm.valid" type="submit"
            class="btn btn-primary w-100 submit-size">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-tape [title]="tape.contacto.title" [firstDescription]="tape.contacto.firstDescription"
  [secondDescription]="tape.contacto.secondDescription" [thirdDescription]="tape.contacto.thirdDescription"
  [textButton]="tape.contacto.textButton">
</app-tape>
