.text-size {
  font-size: var(--mobile-font-m);
}

.desktop-section {
  display: none;
}

.mobile-section {
  display: block;
}

.title {
  font-size: var(--desktop-font-xl);
  font-weight: bold;
}

.container-700 {
  font-size: var(--mobile-font-m);
}

li {
  margin-top: 15px;
}

.input-size {
  height: 100px;
  font-size: var(--mobile-font-m);
}

.submit-size {
  font-size: var(--mobile-font-m);
  margin-top: 100px;
  background-color: #012e46;
  height: 100px;
}

.arial-text{
  font-family: Arial, Helvetica, sans-serif;
}

::ng-deep .modal-dialog{
  min-width: 100%;
  min-height: 100%;
}
