.text-size {
  font-size: var(--desktop-font-m);
}

.desktop-section {
  display: block;
}

.mobile-section {
  display: none;
}

.title{
  font-size: var(--desktop-font-xl);
  font-weight: bold;
}

.container-700 {
  height: auto;
}

.input-size{
  height: 70px;
  font-size: var(--desktop-font-m);
}

.submit-size {
  font-size: var(--desktop-font-m);
  margin-top: 70px;
}
