.text-size {
  font-size: var(--desktop-font-m);
}

.desktop-section {
  display: block;
}

.mobile-section {
  display: none;
}

.title {
  font-size: var(--desktop-font-xl);
  font-weight: bold;
}

.container-700 {
  height: auto;
}

.input-size {
  height: 70px;
  font-size: var(--desktop-font-m);
}

.submit-size {
  font-size: var(--desktop-font-m);
  margin-top: 70px;
  background-color: #012e46;
  height: 60px;
}

::ng-deep .modal-dialog {
  min-width: 80%;
  display: flex;
  justify-content: center;
}

::ng-deep .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}
