<div class="text-size quienes-somos-container">

    <div class="container ">
        <div class="row">
            <div class="col mt-5 d-flex justify-content-center">
                <p class="title">Bienvenidos a L.G.</p>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <p class="text-size">Servicio a tu medida con un asesor personal</p>
            </div>
        </div>

        <div class="row">
            <div class="col mt-5">
                <h2 class="title">Quiénes somos</h2>
            </div>
        </div>

        <div class="row">
            <div class="col mt-3">
                <div class="container-info">
                    <div class="row">
                        <div class="col">
                            L.G. es el aliado en soluciones de hosting y cloud para las pymes. Ofrecemos un
                            portafolio
                            de soluciones para posicionar a las empresas online y para que éstas
                            puedan trabajar en el mundo digital. Todos nuestros desarrollos lo hacemos desde 0 y
                            totalmente personalizados.
                            <br>
                            <b>¡No encontraras nada igual!</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-3">
                            Ofrecemos nuestros servicios a autónomos que dan sus primeros pasos online, a dueños de
                            negocios
                            crecientes, a grandes empresas y a socios que les estén ayudando a alcanzar sus metas.
                            No
                            importa si estás construyendo tu presencia online comprando un dominio u organizando un
                            cluster de contenedores, nuestro portafolio de productos te ofrece aplicaciones,
                            servidores
                            y servicios de primera.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-3">
                            Nuestros productos están diseñados para aportarte confianza y seguridad. La red de
                            centros
                            de datos que hemos creado proporcionan el mejor rendimiento y georredundancia. En L.G.
                            nos
                            enorgullecemos de la tradición en tecnología puntera y la política de privacidad sólida.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-3 mb-5">
                            Nuestros clientes son lo primero. Por eso ahora además de tener a tu disposición equipos
                            de
                            asistencia remotos para ayudarte en cualquier momento, te ofrecemos un asistente
                            personal
                            que brinda asesoramiento experto a medida de tus necesidades.
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col mt-3 d-flex justify-content-end text-right">
                <div class="container-history ">
                    <div class="row">
                        <div class="col">
                            <h2 class="title mt-3 mb-3">Nuestra historia</h2>

                            L.G. fue fundada en 2023, con el objetivo de hacer que la tecnología de la información
                            sea
                            fácil de entender y de utilizar para todos. Comprometido a ofrecer un producto potente,
                            confiable y seguro, L.G. diseñó su propia infraestructura para beneficiarse de servicios
                            digitales cada vez más sofisticados.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-3">
                            Este lanzamiento de hosting al mercado se complementó con adquisiciones
                            estratégicas para crear un servicio completo.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-3 mb-5">
                            Después de esto y con un portafolio de productos robusto, L.G. integró aplicaciones y
                            herramientas de digitalización basadas en la cloud en su oferta, permitiendo a las
                            empresas
                            de cualquier tamaño aprovechar de manera segura y sencilla los beneficios de la cloud.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row desktop-section">
        <div class="col mt-5 mb-5">
            <div class="section-1">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center mt-4">
                            <h1>Principales ventajas con nosotros</h1>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col mt-5 ms-5">
                            <ion-icon class="position-icon mt-1" name="globe"></ion-icon>
                            <p>Creamos tu web desde 0, para que tu web site sea totalmente exclusivo</p>
                        </div>

                        <div class="col mt-5 ms-5">
                            <ion-icon class="position-icon mt-1" name="build"></ion-icon>
                            <p>Siempre podrás seguir construyendo, editando o customizando tu web.</p>
                        </div>

                        <div class="col mt-5 ms-5">
                            <ion-icon class="position-icon mt-1" name="time"></ion-icon>
                            <p>No pierdas tu tiempo buscando, pensando, estudiando... nosotros te guiamos.</p>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col mt-3 ms-5">
                            <ion-icon class="position-icon mt-1" name="clipboard"></ion-icon>
                            <p>Tu código, tu proyecto... todo es tuyo.</p>
                        </div>

                        <div class="col mt-3 ms-5">
                            <ion-icon class="position-icon mt-1" name="bulb"></ion-icon>
                            <p>Tu idea, la hacemos posible.</p>
                        </div>

                        <div class="col mt-3 ms-5">
                            <ion-icon class="position-icon mt-1" name="cloud-upload"></ion-icon>
                            <p>No te pierdas el Seo, si lo quieres...</p>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col mt-3 ms-5">
                            <ion-icon class="position-icon mt-1" name="call"></ion-icon>
                            <p>¡Llamanos por teléfono!
                                <br>
                                +34 659 366 732
                            </p>
                        </div>

                        <div class="col mt-3 ms-5">
                            <ion-icon class="position-icon mt-1" name="logo-euro"></ion-icon>
                            <p>Si quieres ...<br>¡Sin mantenimientos!</p>
                        </div>

                        <div class="col mt-3 ms-5">
                            <ion-icon class="position-icon mt-1" name="help"></ion-icon>
                            <p>¡Preguntanos sin compromiso!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container mobile-section">
        <div class="row">
            <div class="col">
                <p class="title fw-bold mb-4">NUESTRA BAZA</p>
                <ul>
                    <li>Creamos tu web desde 0.</li>
                    <p class="mb-5">Para que tu web site sea totalmente exclusivo.</p>
                    <li> <b>Siempre podrás seguir construyendo.</b> </li>
                    <p class="mb-5">Editando o customizando tu web.</p>
                    <li> <b>No pierdas tu tiempo buscando, pensando, estudiando...</b></li>
                    <p class="mb-5">Nosotros te guiamos.</p>
                    <li> <b>¡Llamanos por teléfono!</b> </li>
                    <p class="mb-5">+34 659 366 732</p>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-light-title [lightTitle]="lightTitle.quienesSomos.title"></app-light-title>

<app-tape
[title]="tape.quienesSomos.title"
[firstDescription]="tape.quienesSomos.firstDescription"
[secondDescription]="tape.quienesSomos.secondDescription"
[thirdDescription]="tape.quienesSomos.thirdDescription"
[textButton]="tape.quienesSomos.textButton">
</app-tape>
