.text-size {
  font-size: var(--mobile-font-m);
}

.desktop-section {
  display: none;
}

.mobile-section {
  display: block;
}

.quienes-somos-container {
  background-image: linear-gradient(#f1fcf4, white);
}

.title{
  font-size: var(--mobile-font-xl);
  font-weight: bold;
  margin-top: 80px;
}
