/* GLOBAL */
.text-size {
  font-size: var(--desktop-font-s);
}

.desktop-section {
  display: block;
}

.mobile-section {
  display: none;
}

.title{
  font-size: var(--desktop-font-xl);
  font-weight: bold;
}


/* CUSTOM */

.container-700 {
  height: auto;
}
