<app-mobile-body-header class="mobile-section" [title]="'Posicionamos tu web'" [image]="'assets/seo-position.jpg'">
</app-mobile-body-header>

<app-desktop-body-header class="desktop-section"
[image]="'assets/seo-desktop.png'"
[title]="'Aparecer en Google:'"
[firstDescription]="'Publica tu negocio para conseguir mas clientes, tener mayor visibilidad y como consecuencia, elevar tus ventas.'"
[secondDescription]="'Hablemos sobre esas keys/identificadores con las que queremos que aparezcas en las búsquedas de Google.'"
[thirdDescription]="'Conseguimos el Seo en una semana aproximadamente.'">
</app-desktop-body-header>

<div class="container container-700 mt-5 mb-5 mobile-section">
    <div class="row">
        <div class="col">
            <p class="title">Aparecer en Google:

            <p class="text-size">Publica tu negocio para conseguir mas clientes, tener mayor visibilidad y como
                consecuencia, elevar tus ventas.
                <br> <br>
                Hablemos sobre esas keys/identificadores con las que queremos que aparezcas en las búsquedas de Google.
                <br> <br>
                Conseguimos el Seo en una semana aproximadamente.
                <br> <br>
            </p>
        </div>

    </div>
</div>

<div class="container container-700 mt-5 mb-5">
    <div class="row">
        <div class="col">
            <P class="title">Posicionamiento:</P>
            <ul>
                <li>Posicionamiento top 1.</li>
                <li>Estrategia de claves para búsquedas.</li>
                <li>Posibilidad de incremento escalable Seo.</li>
                <li>Todas las estategias Seo.</li>
                <li>Mantenimiento</li>
            </ul>

        </div>

    </div>
</div>

<app-tape [title]="tape.seoPosicionamosTuWeb.title" [firstDescription]="tape.seoPosicionamosTuWeb.firstDescription"
    [secondDescription]="tape.seoPosicionamosTuWeb.secondDescription"
    [thirdDescription]="tape.seoPosicionamosTuWeb.thirdDescription" [textButton]="tape.seoPosicionamosTuWeb.textButton">
</app-tape>
