.header-container {
    height: 200px;
  }
  
  .logo {
    width: 120px;
  }
  
  .marine-color {
    background-color: #00229c;
  }
  
  .hover-white {
    color: white;
  }
  
  .hover-white:hover {
    color: aqua;
  }