<div class="row header-container">
    <div class="col">
        <div class="row h-50 d-flex align-items-center">
            <div class="col-2">
                <img class="logo" [src]="logo" alt="logo de la página de creacion de webs">
            </div>
            <div class="col-7 d-flex align-items-center">

            <h1 class="text-secondary">Tu página web para tu actividad</h1>

            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <div class="">
                    <button class="btn btn-primary marine-color me-2">Crear cuenta</button>
                    <button class="btn">Entrar</button>
                </div>

            </div>
        </div>
        <div class="row h-50 d-flex align-items-center marine-color">
           
            <div class="col d-flex justify-content-end align-items-center">

                <div class="me-3">
                    <a class="mb-0 text-decoration-none fw-bold  hover-white" href="">HOME</a>
                    <a class="ms-3 mb-0 text-decoration-none fw-bold  hover-white" href="">QUIENES SOMOS</a>
                    <a class="ms-3 mb-0 text-decoration-none fw-bold  hover-white" href="">QUÉ HACEMOS</a>
                    <a class="ms-3 mb-0 text-decoration-none fw-bold  hover-white" href="">PORTAFOLIO</a>
                    <a class="ms-3 mb-0 text-decoration-none fw-bold  hover-white" href="">BLOG</a>
                    <a class="ms-3 mb-0 text-decoration-none fw-bold  hover-white" href="">CONTACTAR</a>
                </div>

            </div>
           
        </div>
        
    </div>
</div>