.header-container {
  height: 100px;
}

.logo {
  width: 120px;
}

.marine-color {
  background-color: #012e46;
}

.hover-white {
  color: white;
}

.hover-white:hover {
  color: #0d6efd;;
}

.que-hacemos-drop {
  display: none;
  height: 250px;
  width: 300px;
  position: absolute;
  right: 285px;
  margin-top: 360px;
  background-color: #012e46;
}

.que-hacemos-drop:hover {
  display: block;
}

.que-hacemos-selector:hover + .que-hacemos-drop {
  display: block;
}

.desktop-text-secondary {
  display: block;
  font-size: 35px;
  margin-left: 40px;
}

.mobile-text-secondary {
  display: none;
}

.header-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
