.menu {
  display: flex;
  align-items: center;
  height: 100px;
}

.marine-color {
  background-color: #012e46;
}

.hover-white {
  color: white;
}

.hover-white:hover {
  color: #808080;
}

.que-hacemos-drop:hover {
  display: block;
}

.que-hacemos-selector:hover + .que-hacemos-drop {
  display: block;
}

.que-hacemos-drop {
  display: none;
  height: 250px;
  width: 300px;
  position: absolute;
  right: 285px;
  margin-top: 350px;
  background-color: #012e46;
}

.que-hacemos-drop:hover {
  display: block;
}
