
<div class="row  marine-color menu">

        <div class="col h-100 d-flex justify-content-end align-items-center">
    
            <div class="me-4 h-100 d-flex align-items-center">
                <a class="mb-0 text-decoration-none fw-bold hover-white" href="">Home</a>
    
    
            </div>
            <a class="mb-0 text-decoration-none fw-bold hover-white" href="">Quiénes somos</a>
            <a class="h-100 d-flex align-items-center ms-4 mb-0 text-decoration-none fw-bold hover-white que-hacemos-selector"
                href="">
                Qué Hacemos ...
            </a>
            <div class="que-hacemos-drop">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col mt-3">
                            <a class="mb-0 text-decoration-none fw-bold hover-white" href="">
                                <p class="ms-4"> Tu página web a medida</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <a class="mb-0 text-decoration-none fw-bold hover-white" href="">
                                <p class="ms-4"> SEO, posicionamos tu web</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <a class="mb-0 text-decoration-none fw-bold hover-white" href="">
                                <p class="ms-4"> Dominio personalizado </p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <a class="mb-0 text-decoration-none fw-bold hover-white" href="">
                                <p class="ms-4"> Evolutivos de tu web</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <a class="mb-0 text-decoration-none fw-bold hover-white" href="">
                                <p class="ms-4"> Soporte y mantenimiento</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="ms-4 mb-0 text-decoration-none fw-bold hover-white" href="">Portafolio</a>
            <a class="ms-4 mb-0 text-decoration-none fw-bold hover-white" href="">Blog</a>
            <a class="ms-4 me-3 mb-0 text-decoration-none fw-bold hover-white" href="">Contacto</a>
        </div>
    
    </div>

    