.menu {
  display: flex;
  align-items: center;
  height: 100px;
}

.marine-color {
  background-color: #012e46;
}

.hover-white {
  color: white;
  cursor: pointer;
}

.hover-white:hover {
  color: #0d6efd;
}

.que-hacemos-drop {
  display: none;
  height: 370px;
  width: 300px;
  position: absolute;
  right: 130px;
  margin-top: 395px;
  background-color: #012e46;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.que-hacemos-drop:hover {
  display: block;
}

.que-hacemos-selector:hover + .que-hacemos-drop {
  display: block;
}

.active{
  color: #0d6efd;
  text-decoration: none;
}
