<app-mobile-body-header class="mobile-section" [title]="'Evolutivos de tu web'" [image]="'assets/increase-mobile.png'">
</app-mobile-body-header>

<app-desktop-body-header class="desktop-section" [image]="'assets/scalable-desktop.png'"
    [title]="'Evolutivos de tu web'"
    [firstDescription]="'Podrás ampliar, evolucionar y escalar tu web en cualquier momento. ¡Sólo tu pones los límites!'"
    [secondDescription]="'Ponemos a tu disponsición un abanico de ideas segun tus necesidades. ¡Cuéntanos!.'"
    [thirdDescription]="'Quedarás totalmente satisfecho por la evolución de tu web hasta donde quieras llegar.'">
</app-desktop-body-header>

<div class="container container-700 mt-5 mb-5 mobile-section">
  <div class="row">
    <div class="col">
      <p class="title">Evolutivos de tu web

      <p class="text-size">Si necesitas ampliar tu web, no te preocupes, la ampliamos.
        <br> <br>
        Una de las ventajas que tienes con nosotros es la escalabilidad de tu web.
        <br> <br>
        Tu pones tus propios límites.
        <br> <br>
      </p>
    </div>

  </div>
</div>

<div class="container container-700 mt-5 mb-5">
  <div class="row">
    <div class="col text-size">
      <P class="title">Ampliamos tu web</P>
      <ul>
        <li>Añade páginas nuevas.</li>
        <li>Cambia o modifica lo que ya existe.</li>
        <li>Aumenta el contenido de tus páginas.</li>
        <li>Escala tu web en todos los niveles.</li>
      </ul>

    </div>

  </div>
</div>

<app-tape [title]="tape.evolutivosDeTuWeb.title" [firstDescription]="tape.evolutivosDeTuWeb.firstDescription"
    [secondDescription]="tape.evolutivosDeTuWeb.secondDescription"
    [thirdDescription]="tape.evolutivosDeTuWeb.thirdDescription" [textButton]="tape.evolutivosDeTuWeb.textButton">
</app-tape>
