.text-size {
  font-size: var(--desktop-font-m);
}

.desktop-section {
  display: block;
}

.mobile-section {
  display: none;
}

.title {
  font-size: var(--desktop-font-xl);
  font-weight: bold;
}

.container-700 {
  height: auto;
}

.first-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 50px;
  font-size: var(--desktop-font-s);
  width: auto;
}

.video-style {
  object-fit: cover;
}

.div-video {
  height: 465px;
  width: 650px;
}
