<app-mobile-body-header class="mobile-section" [title]="'Blog'"
  [image]="'assets/blog-mobile.jpg'">
</app-mobile-body-header>

<app-desktop-body-header class="desktop-section" [image]="'assets/blog.png'" [title]="'Blog:'"
  [firstDescription]="'Consulta nuestro blog, te puede dar un toque de inspiración.'"
  [secondDescription]="'Hablemos sobre que tipo de web vas a necesitar y te orientamos en tu camino.'"
  [thirdDescription]="'Justo lo que necesitas.'">
</app-desktop-body-header>

<div class="container container-700 mt-5 mb-5 mobile-section">
  <div class="row">
    <div class="col">
      <p class="title">Blog:

      <p class="text-size">Consulta nuestro blog, te puede dar un toque de inspiración.
        <br> <br>
        Hablemos sobre que tipo de web vas a necesitar y te orientamos en tu camino.
        <br> <br>
        Justo lo que necesitas.
        <br> <br>
      </p>
    </div>

  </div>
</div>

<div class="container container-700 mt-5 mb-5 mobile-section margin-800">
  <div class="row">
    <div class="col text-size">
      <P class="title">Blogs:</P>
      <div class="card" style="width: 650px;">
        <img class="card-img-top" [src]="blogMobile" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Crea tu página con Raúl Lora, tu sitio donde podrás informarte sobre precios y productos.</p>
          <button class="btn btn-primary first-button mt-5 w-100" (click)="navigateToBlog()">¡Hecha un vistazo!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-700 mt-5 mb-5 desktop-section">
  <div class="row">
    <div class="col text-size">
      <P class="title">Blogs:</P>
      <div class="card" style="width: 650px;">
        <img class="card-img-top" [src]="blogDesktop" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Crea tu página con Raúl Lora, tu sitio donde podrás informarte sobre precios y productos.</p>
          <button class="btn btn-primary first-button mt-5 w-100" (click)="navigateToBlog()">¡Hecha un vistazo!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tape [title]="tape.blog.title" [firstDescription]="tape.blog.firstDescription"
  [secondDescription]="tape.blog.secondDescription"
  [thirdDescription]="tape.blog.thirdDescription" [textButton]="tape.blog.textButton">
</app-tape>
