.background-cima {
  background-image: url("./../../../assets/cima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1200px;
}

.body-container {
  height: 2600px;
}

.first-container {
  display: block;
  margin-top: 6rem;
  height: 400px;
}

.middle-container {
  position: relative;
  height: 250px;
  width: 750px;
  background-color: white;
  bottom: 250px;
}

.middle-container-title {
  font-size: var(--desktop-font-xl);
  color: #012e46;
}

.middle-container-button {
  background-color: #012e46;
  padding: 15px;
  font-size: var(--desktop-font-m);
  width: 240px;
  height: 60px;
}

.h4 {
  font-size: var(--desktop-font-m);
}

.h1 {
  font-size: var(--desktop-font-xl);
  margin-top: 5rem;
}

.first-button {
  background-color: #012e46;
  padding: 10px;
  font-size: var(--desktop-font-s);
  width: 240px;
  height: 60px;
}

.mobile-section {
  display: none;
}

.desktop-section {
  display: block;
}

::ng-deep .modal-dialog {
  min-width: 100%;
}

.submit-size {
  height: 40px;
  width:  200px;
  font-size: var(--desktop-font-s);
  margin-top: 70px;
  background-color: #012e46;
}

::ng-deep .modal-dialog {
  transform: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}

.text-size {
  font-size: var(--desktop-font-m);
}
