.background-cima {
  background-image: url("./../../../assets/cima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 1200px;
}

.body-container {
  height: 3000px;
}

.first-container {
  display: none;
}

.middle-container {
  position: relative;
  height: 350px;
  width: 750px;
  background-color: white;
  bottom: 160px;
}
.middle-container-title {
  font-size: var(--mobile-font-xl);
  color: #012e46;
}

.middle-container-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 80px;
  font-size: var(--mobile-font-s);
}

.second-container-box {
  width: 800px;
  height: 100%;
  margin-top: 17rem;
}

.h4 {
  font-size: var(--mobile-font-m);
}

.h1 {
  font-size: var(--mobile-font-xl);
  margin-top: -2rem;
}

.first-button {
  background-color: #012e46;
  padding: 15px;
  width: 330px;
  height: 100px;
  font-size: var(--mobile-font-m);
}

.mobile-section {
  display: block;
}

.desktop-section {
  display: none;
}

::ng-deep .modal-dialog{
  min-width: 100%;
}

.submit-size {
  height: 60px;
  width:  250px;
  font-size: var(--desktop-font-m);
  margin-top: 70px;
  background-color: #012e46;
}

::ng-deep .modal-dialog {
  transform: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}

.text-size {
  font-size: var(--mobile-font-m);
}

.max-title{
  font-size: var(--mobile-font-m);
}
